<%= semantic_form_for [:admin, @article], builder: Formtastic::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :body, as: :ckeditor %>
    <hr>
    <div class='form_additional_field'>
      <% if @article.photos %>
        <% @article.photos.each do |photo| %>
            <%= image_tag photo.image.thumbnail %>
            <div class='delete_btn'>
              <%= link_to "x", admin_photo_path( photo.id ), method: :delete %>
            </div>
        <% end %>
      <% end %>
      <hr>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
    <% end %>
      <%= f.actions %>
<% end %>
