<%= semantic_form_for [:admin, @article], builder: Formtastic::FormBuilder do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.input :body, as: :ckeditor %>
    <%= f.input :published %>
    <hr>
    <%= f.actions %>
  <% end %>
<% end %>

<% if @article.photos %>
  <% @article.photos.each do |photo| %>
    <%= semantic_form_for [:admin, @article,photo], builder: Formtastic::FormBuilder do |t| %>
    <%= t.semantic_errors %>
      <%= t.inputs do %>
        <%= t.input :description %>
        <%= t.input :featured %>
        <div class='form_additional_field'>
          <%= image_tag photo.image.thumbnail %>
          <%= link_to "Delete", admin_article_photo_path(@article,photo.id ), method: :delete %>
        </div>
        <%= t.actions %>
      <% end %>
    <% end %>
  <% end %>
<% end %>



<%= semantic_form_for [:admin, @article,@article.photos.new], builder: Formtastic::FormBuilder do |k| %>
  <%= k.semantic_errors %>
  <%= k.inputs do %>
    <%= k.input :description %>
    <%= k.input :featured %>
    <%= k.input :image %>
    <%= k.actions %>
  <% end %>
<% end %>
