<style>
.jumbotron {
  background-image: url("http://res.cloudinary.com/lorenzocloudinary/image/upload/v1502718958/stormalong/IMG_0271.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}
</style>

<div class="jumbotron">
  <h1 >Cool website</h1>
</div>

<hr/>

<script type="text/javascript">
width='100%';	// the width of the embedded map in pixels or percentage
height='500';	// the height of the embedded map in pixels or percentage
border='1';	// the width of the border around the map (zero means no border)
shownames='false';	// to display ship names on the map (true or false)
latitude='37.4460';	// the latitude of the center of the map, in decimal degrees
longitude='24.9467';	// the longitude of the center of the map, in decimal degrees zoom='9';	// the zoom level of the map (values between 2 and 17)
maptype='1';	// use 0 for Normal Map, 1 for Satellite, 2 for OpenStreetMap
trackvessel='244670249';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
fleet='vanmarle.n@gmail.com';	// the registered email address of a user-defined fleet (user's default fleet is used)
</script> <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>

<% if user_signed_in? %>
  <%= link_to "add an article", new_article_path, class: "btn btn-primary"  %>
<% end %>

<div class="row">
  <% @articles.each do |article|%>
    <div class="col-sm-6 text-center">
      <div class="form-group">
        <h3><b><%= link_to article.title, article_path(article.id) %></b></h3>
      </div>
      <div class="form-group">
        <p><%= article.body %></p>
      </div>
      <div class="form-group">
        <% article.photos.each do |photo| %>
        <%= image_tag photo.image %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
<hr />

<%= render 'shared/footer' %>
